In [45]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('abalone.csv', header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [90]:
# df[0].shape()

# from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder(drop='first')

# ohe_df = ohe.fit_transform(df[0].to_numpy().reshape(1, -1))

# df[0].to_numpy().reshape(1, -1)

# ohe_df.toarray().shape

# df[0].to_numpy().reshape(1,-1)

In [13]:
X, y = df.drop(len(df.columns) - 1, axis=1), df[len(df.columns) - 1]

## Load Sklearn

In [40]:
from sklearn.compose import ColumnTransformer

from sklearn.pipeline import Pipeline

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

from sklearn.svm import SVR

## Select columns by dtype

In [14]:
X.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
dtype: object

In [19]:
num_features = X.select_dtypes(include=['int64','float64']).columns
num_features

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [20]:
cat_features = X.select_dtypes(include=['object','bool']).columns
cat_features

Int64Index([0], dtype='int64')

## Build Columns Transformer

In [23]:
transformers = [
    # Nome   # Funzione      # Indice colonne
    ('cat', OneHotEncoder(), cat_features),
    ('num', MinMaxScaler(), num_features)
    
]

In [37]:
col_transform = ColumnTransformer(transformers=transformers, \
                                  remainder='drop', \
                                  verbose=True)

# remainder='passthrough' = le variabili non interessate vengono conservate

In [48]:
# col_transform.fit(X)

## Build Model

In [38]:
model = SVR(kernel='rbf',gamma='scale',C=100)

## Pipeline

In [39]:
pipeline = Pipeline(steps=[('preprocessing',col_transform), \
                           ('model', model)], \
                    verbose=True)

In [50]:
# pipeline.fit(X, y)

## Cross-Validation

In [41]:
cv = KFold(n_splits=10, shuffle=True, random_state=1)

## Scores

In [46]:
scores = cross_val_score(pipeline, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
scores = np.absolute(scores)

print('MAE: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

MAE: 1.465 (0.047)